services/plc_sif_gateway/flows.json
[
    {
        "id": "16253f37594af6b7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "d85dd4e7.e244b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": ""
    },
    {
        "id": "279c41ee2e7ec94d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "728b4f57863eb686",
        "type": "tab",
        "label": "PLC_3_signals_Out_File_OK",
        "disabled": true,
        "info": "PLC_3_signals_Out_File",
        "env": []
    },
    {
        "id": "cdaeea4ad0360d20",
        "type": "tab",
        "label": "sim_3_signals_Out_UnityTest_OK",
        "disabled": false,
        "info": "Flow_3signalsSim_ReadyForUnityTest 21Nov25",
        "env": []
    },
    {
        "id": "bc6471816c7844a9",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://OurLaptop:53530/OPCUA/SimulationServer",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "5a1ac14b.4d0f38",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://130.130.130.2:4840/UA/EmbeddedServer",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": "",
        "info": "with host ip:\r\nopc.tcp://192.168.65.254:53530/OPCUA/SimulationServer"
    },
    {
        "id": "37d3f8bb713d74f4",
        "type": "inject",
        "z": "16253f37594af6b7",
        "name": "Read",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "ddadebfa90c83c16"
            ]
        ]
    },
    {
        "id": "3b25388d1be4453d",
        "type": "inject",
        "z": "16253f37594af6b7",
        "name": "Disconnect",
        "props": [
            {
                "p": "action",
                "v": "disconnect",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 240,
        "y": 280,
        "wires": [
            [
                "5e9ff8d62009cce2"
            ]
        ]
    },
    {
        "id": "ee51f9804aed9353",
        "type": "debug",
        "z": "16253f37594af6b7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 220,
        "wires": []
    },
    {
        "id": "19f724539cac24ae",
        "type": "inject",
        "z": "16253f37594af6b7",
        "name": "Connect",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 340,
        "wires": [
            [
                "0527d8662773f724"
            ]
        ]
    },
    {
        "id": "f51a14507dc17b69",
        "type": "inject",
        "z": "16253f37594af6b7",
        "name": "Reconnect",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 420,
        "wires": [
            [
                "1578860caf6ef5e5"
            ]
        ]
    },
    {
        "id": "0527d8662773f724",
        "type": "function",
        "z": "16253f37594af6b7",
        "name": "set options",
        "func": "msg.action = 'connect';\nmsg.OpcUaEndpoint = {}; // Initialize msg.OpcUaEndpoint as an empty object\nmsg.OpcUaEndpoint.endpoint = 'opc.tcp://130.130.130.2:4840/UA/EmbeddedServer';\nmsg.OpcUaEndpoint.securityMode = 'None';\nmsg.OpcUaEndpoint.securityPolicy = 'None';\nmsg.OpcUaEndpoint.login = false;\nreturn msg;\n//opc.tcp://130.130.130.2:4840\n//opc.tcp://OurLaptop:53530/OPCUA/SimulationServer'",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 340,
        "wires": [
            [
                "5e9ff8d62009cce2"
            ]
        ]
    },
    {
        "id": "1578860caf6ef5e5",
        "type": "function",
        "z": "16253f37594af6b7",
        "name": "set options",
        "func": "msg.action = 'connect';\nmsg.OpcUaEndpoint = {}; // Initialize msg.OpcUaEndpoint as an empty object\nmsg.OpcUaEndpoint.endpoint = 'opc.tcp://OurLaptop:53530/OPCUA/SimulationServer';\nmsg.OpcUaEndpoint.securityMode = 'None';\nmsg.OpcUaEndpoint.securityPolicy = 'None';\nmsg.OpcUaEndpoint.login = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 420,
        "wires": [
            [
                "5e9ff8d62009cce2"
            ]
        ]
    },
    {
        "id": "ddadebfa90c83c16",
        "type": "OpcUa-Item",
        "z": "16253f37594af6b7",
        "item": "ns=6;s=::AsGlobalPV:MESPAOEE_udiRunningTime",
        "datatype": "UInt32",
        "value": "",
        "name": "MESPAOEE_udiRunningTime",
        "x": 390,
        "y": 200,
        "wires": [
            [
                "5e9ff8d62009cce2"
            ]
        ]
    },
    {
        "id": "5e9ff8d62009cce2",
        "type": "OpcUa-Client",
        "z": "16253f37594af6b7",
        "endpoint": "5a1ac14b.4d0f38",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": "",
        "maxMessageSize": "",
        "receiveBufferSize": "",
        "sendBufferSize": "",
        "setstatusandtime": false,
        "keepsessionalive": false,
        "name": "",
        "applicationName": "",
        "applicationUri": "",
        "x": 660,
        "y": 200,
        "wires": [
            [
                "ee51f9804aed9353"
            ],
            [],
            []
        ]
    },
    {
        "id": "e34ad19393e0a97d",
        "type": "file",
        "z": "16253f37594af6b7",
        "d": true,
        "name": "SIF402_Running_Time",
        "filename": "D:\\Users\\Dario\\OneDrive\\UU\\Courses\\XR\\Project 2\\Output\\node-red-test-outputs\\SIF402_Running_Time.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 920,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "ed421a9.d6319e8",
        "type": "OpcUa-Client",
        "z": "d85dd4e7.e244b",
        "endpoint": "5a1ac14b.4d0f38",
        "action": "readmultiple",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "useTransport": false,
        "maxChunkCount": "",
        "maxMessageSize": "",
        "receiveBufferSize": "",
        "sendBufferSize": "",
        "setstatusandtime": false,
        "keepsessionalive": true,
        "name": "",
        "applicationName": "",
        "applicationUri": "",
        "x": 720,
        "y": 140,
        "wires": [
            [
                "f993fd12.db5e98"
            ],
            [],
            []
        ]
    },
    {
        "id": "d8a68c7a.a73008",
        "type": "inject",
        "z": "d85dd4e7.e244b",
        "name": "Add item",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 191,
        "y": 98.80000305175781,
        "wires": [
            [
                "46e629f357f0ed7c"
            ]
        ]
    },
    {
        "id": "f993fd12.db5e98",
        "type": "debug",
        "z": "d85dd4e7.e244b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 140,
        "wires": []
    },
    {
        "id": "1335adce.7f46ba",
        "type": "inject",
        "z": "d85dd4e7.e244b",
        "name": "Add item",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 195.20001220703125,
        "y": 164.8000030517578,
        "wires": [
            [
                "6fe04c96b9a6f7c3"
            ]
        ]
    },
    {
        "id": "2c050a3d.91f496",
        "type": "inject",
        "z": "d85dd4e7.e244b",
        "name": "Read multiple items",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "readmultiple",
        "payload": "",
        "payloadType": "str",
        "x": 380,
        "y": 320,
        "wires": [
            [
                "ed421a9.d6319e8"
            ]
        ]
    },
    {
        "id": "690e4f9f.faeca",
        "type": "inject",
        "z": "d85dd4e7.e244b",
        "name": "Clear nodeId array",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "clearitems",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "clearitems",
        "payload": "",
        "payloadType": "str",
        "x": 372.2000274658203,
        "y": 366.1999969482422,
        "wires": [
            [
                "ed421a9.d6319e8"
            ]
        ]
    },
    {
        "id": "46e629f357f0ed7c",
        "type": "OpcUa-Item",
        "z": "d85dd4e7.e244b",
        "item": "ns=6;s=::AsGlobalPV:MESPAOEE_udiRunningTime",
        "datatype": "UInt32",
        "value": "",
        "name": "MESPAOEE_udiRunningTime",
        "x": 430,
        "y": 80,
        "wires": [
            [
                "ed421a9.d6319e8"
            ]
        ]
    },
    {
        "id": "6fe04c96b9a6f7c3",
        "type": "OpcUa-Item",
        "z": "d85dd4e7.e244b",
        "item": "ns=6;s=::AsGlobalPV:MESPAOEE_bAlarm",
        "datatype": "Boolean",
        "value": "",
        "name": "MESPAOEE_bAlarm",
        "x": 400,
        "y": 160,
        "wires": [
            [
                "ed421a9.d6319e8"
            ]
        ]
    },
    {
        "id": "d9d1c55ec4c6b7c5",
        "type": "inject",
        "z": "d85dd4e7.e244b",
        "name": "Add item",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 200,
        "y": 240,
        "wires": [
            [
                "1431b391d0f4c1f0"
            ]
        ]
    },
    {
        "id": "1431b391d0f4c1f0",
        "type": "OpcUa-Item",
        "z": "d85dd4e7.e244b",
        "item": "ns=6;s=::AsGlobalPV:MESPAEA_rCurrent",
        "datatype": "Float",
        "value": "",
        "name": "MESPAEA_rCurrent",
        "x": 404.79998779296875,
        "y": 235.1999969482422,
        "wires": [
            [
                "ed421a9.d6319e8"
            ]
        ]
    },
    {
        "id": "b10d80653c5c3785",
        "type": "file",
        "z": "d85dd4e7.e244b",
        "name": "",
        "filename": "text_out_16Nov25.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1200,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "06151c186d0d044e",
        "type": "inject",
        "z": "d85dd4e7.e244b",
        "name": "Disconnect",
        "props": [
            {
                "p": "action",
                "v": "disconnect",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 420,
        "y": 420,
        "wires": [
            [
                "ed421a9.d6319e8"
            ]
        ]
    },
    {
        "id": "2e09d01eb26d7b95",
        "type": "inject",
        "z": "d85dd4e7.e244b",
        "name": "Connect",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 531.111083984375,
        "y": 479.1111145019531,
        "wires": [
            [
                "ed421a9.d6319e8"
            ]
        ]
    },
    {
        "id": "987eb10ed95beb50",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "name": "Store OPC values",
        "func": "// Get existing values or start new\nlet opcValues = flow.get('opcValues') || {};\n\n// The OPC UA node outputs an array of { nodeId, value }\nif (Array.isArray(msg.payload)) {\n    msg.payload.forEach(item => {\n        // You can map nodeIds to friendly names\n        let tagName;\n        switch(item.nodeId) {\n            case 'ns=3;i=1002': tagName = 'MESPAEA_rCurrent'; break;\n            case 'ns=3;i=1003': tagName = 'MESPAOEE_uiTotalUnits'; break;\n            case 'ns=3;i=1004': tagName = 'MESPAOEE_udiRunningTime'; break;\n            default: tagName = item.nodeId;\n        }\n        opcValues[tagName] = item.value;\n    });\n\n    // Store in flow context\n    flow.set('opcValues', opcValues);\n    node.status({text: JSON.stringify(opcValues)});\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 280,
        "wires": [
            [
                "b10d80653c5c3785"
            ]
        ]
    },
    {
        "id": "3a442bd08eefcbd1",
        "type": "http in",
        "z": "d85dd4e7.e244b",
        "name": "GET /api/latest",
        "url": "/api/latest",
        "method": "get",
        "x": 760,
        "y": 460,
        "wires": [
            [
                "51ba42276da184af"
            ]
        ]
    },
    {
        "id": "51ba42276da184af",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "name": "Return OPC values",
        "func": "let opcValues = flow.get('opcValues');\nif (!opcValues || Object.keys(opcValues).length === 0) {\n    msg.payload = { error: 'No OPC UA data available yet' };\n    msg.statusCode = 404;\n} else {\n    msg.payload = opcValues;\n    msg.statusCode = 200;\n}\nreturn msg;",
        "outputs": 1,
        "x": 1010,
        "y": 460,
        "wires": [
            [
                "d7c5b0fa4349bdcc"
            ]
        ]
    },
    {
        "id": "d7c5b0fa4349bdcc",
        "type": "http response",
        "z": "d85dd4e7.e244b",
        "name": "",
        "x": 1200,
        "y": 460,
        "wires": []
    },
    {
        "id": "7bce3e7bf08f0d28",
        "type": "function",
        "z": "d85dd4e7.e244b",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "0369e0c6d6a8fb85",
        "type": "OpcUa-Item",
        "z": "279c41ee2e7ec94d",
        "item": "ns=3;i=1002",
        "datatype": "Double",
        "value": "",
        "name": "Random",
        "x": 340,
        "y": 100,
        "wires": [
            [
                "ac102da704b986f7"
            ]
        ]
    },
    {
        "id": "ba6cd7a2b7639f3f",
        "type": "inject",
        "z": "279c41ee2e7ec94d",
        "name": "Read",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "0369e0c6d6a8fb85"
            ]
        ]
    },
    {
        "id": "0eb707d8f90027d6",
        "type": "inject",
        "z": "279c41ee2e7ec94d",
        "name": "Disconnect",
        "props": [
            {
                "p": "action",
                "v": "disconnect",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 320,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "34b09de08867e375",
        "type": "inject",
        "z": "279c41ee2e7ec94d",
        "name": "Connect",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 480,
        "wires": [
            [
                "fbe284add9168327"
            ]
        ]
    },
    {
        "id": "d93d3970a90172da",
        "type": "inject",
        "z": "279c41ee2e7ec94d",
        "name": "Reconnect",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 560,
        "wires": [
            [
                "3fcdf22e21902c64"
            ]
        ]
    },
    {
        "id": "fbe284add9168327",
        "type": "function",
        "z": "279c41ee2e7ec94d",
        "name": "set options",
        "func": "msg.action = 'connect';\nmsg.OpcUaEndpoint = {}; // Initialize msg.OpcUaEndpoint as an empty object\nmsg.OpcUaEndpoint.endpoint = 'opc.tcp://OurLaptop:53530/OPCUA/SimulationServer';\nmsg.OpcUaEndpoint.securityMode = 'None';\nmsg.OpcUaEndpoint.securityPolicy = 'None';\nmsg.OpcUaEndpoint.login = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 480,
        "wires": [
            [
                "ac102da704b986f7"
            ]
        ]
    },
    {
        "id": "3fcdf22e21902c64",
        "type": "function",
        "z": "279c41ee2e7ec94d",
        "name": "set options",
        "func": "msg.action = 'connect';\nmsg.OpcUaEndpoint = {}; // Initialize msg.OpcUaEndpoint as an empty object\nmsg.OpcUaEndpoint.endpoint = 'opc.tcp://130.130.130.2:4840';\nmsg.OpcUaEndpoint.securityMode = 'None';\nmsg.OpcUaEndpoint.securityPolicy = 'None';\nmsg.OpcUaEndpoint.login = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "84f43dc9ec38fa4a",
        "type": "debug",
        "z": "279c41ee2e7ec94d",
        "name": "msg_Client",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "ac102da704b986f7",
        "type": "OpcUa-Client",
        "z": "279c41ee2e7ec94d",
        "endpoint": "bc6471816c7844a9",
        "action": "readmultiple",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "setstatusandtime": false,
        "keepsessionalive": false,
        "name": "",
        "applicationName": "",
        "applicationUri": "",
        "x": 580,
        "y": 200,
        "wires": [
            [
                "84f43dc9ec38fa4a"
            ],
            [],
            [
                "08fd4796c1d9360a"
            ]
        ]
    },
    {
        "id": "08fd4796c1d9360a",
        "type": "function",
        "z": "279c41ee2e7ec94d",
        "name": "function 2",
        "func": "let msgs = []\nfor (let index = 0; index < msg.payload.length; index++) {\n    const signal_payload = msg.payload[index];\n    const signal_topic = msg.topic[index];\n    msgs.push(\n        {\n            payload : signal_payload,\n            topic : signal_topic\n        }\n    )\n}\nreturn msgs",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 340,
        "wires": [
            [
                "22e063573dc1fb37",
                "0bf06dba674e4bdd"
            ],
            [
                "fb5605122898efe0"
            ],
            [
                "3a2e4ceb93df68c5"
            ]
        ]
    },
    {
        "id": "6bf568e501375927",
        "type": "OpcUa-Item",
        "z": "279c41ee2e7ec94d",
        "item": "ns=3;i=1006",
        "datatype": "Double",
        "value": "",
        "name": "Triangle",
        "x": 340,
        "y": 160,
        "wires": [
            [
                "ac102da704b986f7"
            ]
        ]
    },
    {
        "id": "46ad0e2793613ec8",
        "type": "inject",
        "z": "279c41ee2e7ec94d",
        "name": "Read",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "6bf568e501375927"
            ]
        ]
    },
    {
        "id": "36e8a0cdb52ed7f3",
        "type": "OpcUa-Item",
        "z": "279c41ee2e7ec94d",
        "item": "ns=3;i=1004",
        "datatype": "Double",
        "value": "",
        "name": "Sinusoid",
        "x": 340,
        "y": 220,
        "wires": [
            [
                "ac102da704b986f7"
            ]
        ]
    },
    {
        "id": "190a614ce9b84cbd",
        "type": "inject",
        "z": "279c41ee2e7ec94d",
        "name": "Read",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "36e8a0cdb52ed7f3"
            ]
        ]
    },
    {
        "id": "ec1ca0d15031ea3f",
        "type": "inject",
        "z": "279c41ee2e7ec94d",
        "name": "Read multiple items",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "readmultiple",
        "payload": "",
        "payloadType": "str",
        "x": 310,
        "y": 300,
        "wires": [
            [
                "ac102da704b986f7"
            ]
        ]
    },
    {
        "id": "22e063573dc1fb37",
        "type": "debug",
        "z": "279c41ee2e7ec94d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "msg.topic & msg.payload",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 320,
        "wires": []
    },
    {
        "id": "fb5605122898efe0",
        "type": "debug",
        "z": "279c41ee2e7ec94d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 380,
        "wires": []
    },
    {
        "id": "3a2e4ceb93df68c5",
        "type": "debug",
        "z": "279c41ee2e7ec94d",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 981.111083984375,
        "y": 439.1111145019531,
        "wires": []
    },
    {
        "id": "8c5a9631fced439d",
        "type": "file",
        "z": "279c41ee2e7ec94d",
        "name": "output to file",
        "filename": "D:\\Code\\XR\\XR_Project_2\\node-red\\tests\\Nov17.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 850,
        "y": 580,
        "wires": [
            [
                "f83d02cc452f5f36"
            ]
        ]
    },
    {
        "id": "0bf06dba674e4bdd",
        "type": "change",
        "z": "279c41ee2e7ec94d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.topic & msg.payload",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 460,
        "wires": [
            [
                "8c5a9631fced439d"
            ]
        ]
    },
    {
        "id": "f83d02cc452f5f36",
        "type": "debug",
        "z": "279c41ee2e7ec94d",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 580,
        "wires": []
    },
    {
        "id": "8da56853264ca8b8",
        "type": "OpcUa-Item",
        "z": "728b4f57863eb686",
        "item": "ns=6;s=::AsGlobalPV:MESPAOEE_udiRunningTime",
        "datatype": "UInt32",
        "value": "",
        "name": "MESPAOEE_udiRunningTime",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "ad14d3029d07f208"
            ]
        ]
    },
    {
        "id": "7526d51c6a0f670a",
        "type": "inject",
        "z": "728b4f57863eb686",
        "name": "Read",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "8da56853264ca8b8"
            ]
        ]
    },
    {
        "id": "f4f6f0af1de50a99",
        "type": "inject",
        "z": "728b4f57863eb686",
        "name": "Disconnect",
        "props": [
            {
                "p": "action",
                "v": "disconnect",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "e18c880da5efbb29",
        "type": "inject",
        "z": "728b4f57863eb686",
        "name": "Connect",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 540,
        "wires": [
            [
                "d7644f196b125bb0"
            ]
        ]
    },
    {
        "id": "4e2da52376a66a32",
        "type": "inject",
        "z": "728b4f57863eb686",
        "name": "Reconnect",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 620,
        "wires": [
            [
                "2d0e0a4f0ef4d984"
            ]
        ]
    },
    {
        "id": "d7644f196b125bb0",
        "type": "function",
        "z": "728b4f57863eb686",
        "name": "set options",
        "func": "msg.action = 'connect';\nmsg.OpcUaEndpoint = {}; // Initialize msg.OpcUaEndpoint as an empty object\nmsg.OpcUaEndpoint.endpoint = 'opc.tcp://130.130.130.2:4840/UA/EmbeddedServer';\nmsg.OpcUaEndpoint.securityMode = 'None';\nmsg.OpcUaEndpoint.securityPolicy = 'None';\nmsg.OpcUaEndpoint.login = false;\nreturn msg;\n//'opc.tcp://OurLaptop:53530/OPCUA/SimulationServer'",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 540,
        "wires": [
            [
                "ad14d3029d07f208"
            ]
        ]
    },
    {
        "id": "2d0e0a4f0ef4d984",
        "type": "function",
        "z": "728b4f57863eb686",
        "name": "set options",
        "func": "msg.action = 'connect';\nmsg.OpcUaEndpoint = {}; // Initialize msg.OpcUaEndpoint as an empty object\nmsg.OpcUaEndpoint.endpoint = 'opc.tcp://130.130.130.2:4840';\nmsg.OpcUaEndpoint.securityMode = 'None';\nmsg.OpcUaEndpoint.securityPolicy = 'None';\nmsg.OpcUaEndpoint.login = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "8a4fc1608a1307be",
        "type": "debug",
        "z": "728b4f57863eb686",
        "name": "msg_Client",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 160,
        "wires": []
    },
    {
        "id": "ad14d3029d07f208",
        "type": "OpcUa-Client",
        "z": "728b4f57863eb686",
        "endpoint": "5a1ac14b.4d0f38",
        "action": "readmultiple",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "setstatusandtime": false,
        "keepsessionalive": false,
        "name": "",
        "applicationName": "",
        "applicationUri": "",
        "x": 640,
        "y": 180,
        "wires": [
            [
                "8a4fc1608a1307be"
            ],
            [],
            [
                "8655ca47f46ebdee"
            ]
        ]
    },
    {
        "id": "8655ca47f46ebdee",
        "type": "function",
        "z": "728b4f57863eb686",
        "name": "MergePayload",
        "func": "let msgs = []\nfor (let index = 0; index < msg.payload.length; index++) {\n    const signal_payload = msg.payload[index];\n    const signal_topic = msg.topic[index];\n    msgs.push(\n        {\n            payload : signal_payload,\n            topic : signal_topic\n        }\n    )\n}\nreturn msgs",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 520,
        "wires": [
            [
                "54a71428477ad96f"
            ],
            [],
            [
                "1c4895a7a8dd5fd9",
                "db6c6dcbbf6b79f1",
                "96dadabcae942424"
            ]
        ]
    },
    {
        "id": "a683bf0b831585a2",
        "type": "OpcUa-Item",
        "z": "728b4f57863eb686",
        "item": "ns=6;s=::AsGlobalPV:MESPAOEE_bAlarm",
        "datatype": "Boolean",
        "value": "",
        "name": "MESPAOEE_bAlarm",
        "x": 380,
        "y": 160,
        "wires": [
            [
                "ad14d3029d07f208"
            ]
        ]
    },
    {
        "id": "99accd18a8696c1f",
        "type": "inject",
        "z": "728b4f57863eb686",
        "name": "Read",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "a683bf0b831585a2"
            ]
        ]
    },
    {
        "id": "7c16312b96a0e97d",
        "type": "OpcUa-Item",
        "z": "728b4f57863eb686",
        "item": "ns=6;s=::AsGlobalPV:MESPAEA_rCurrent",
        "datatype": "Float",
        "value": "",
        "name": "MESPAEA_rCurrent",
        "x": 380,
        "y": 220,
        "wires": [
            [
                "ad14d3029d07f208"
            ]
        ]
    },
    {
        "id": "5268f48439a82c38",
        "type": "inject",
        "z": "728b4f57863eb686",
        "name": "Read",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "7c16312b96a0e97d"
            ]
        ]
    },
    {
        "id": "62868a4b22eff877",
        "type": "inject",
        "z": "728b4f57863eb686",
        "name": "Read multiple items",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "readmultiple",
        "payload": "",
        "payloadType": "str",
        "x": 340,
        "y": 340,
        "wires": [
            [
                "ad14d3029d07f208"
            ]
        ]
    },
    {
        "id": "54a71428477ad96f",
        "type": "debug",
        "z": "728b4f57863eb686",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "msg.topic & msg.payload",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 240,
        "wires": []
    },
    {
        "id": "70bc7fac12c5a488",
        "type": "debug",
        "z": "728b4f57863eb686",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1720,
        "y": 520,
        "wires": []
    },
    {
        "id": "0f3018a9e6c129bc",
        "type": "debug",
        "z": "728b4f57863eb686",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 580,
        "wires": []
    },
    {
        "id": "1c4895a7a8dd5fd9",
        "type": "change",
        "z": "728b4f57863eb686",
        "name": "PayloadRunningTime",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t  \"meta\": topic,\t  \"read\": payload\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 460,
        "wires": [
            [
                "254b63a089331d41",
                "a58152cdbf760178"
            ]
        ]
    },
    {
        "id": "7ab9bd1a18d80faa",
        "type": "debug",
        "z": "728b4f57863eb686",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 460,
        "wires": []
    },
    {
        "id": "1db94ad3ab76a5c7",
        "type": "http in",
        "z": "728b4f57863eb686",
        "name": "GET blue latest value",
        "url": "/mes/blue_latest",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 800,
        "y": 760,
        "wires": [
            [
                "83fd706346a02200"
            ]
        ]
    },
    {
        "id": "83fd706346a02200",
        "type": "function",
        "z": "728b4f57863eb686",
        "name": "Return latest value",
        "func": "const data = flow.get(\"blue_lastSignal\");\n\nif (!data) {\n    msg.payload = { error: \"No data available yet\" };\n    msg.statusCode = 503;\n    return msg;\n}\n\nmsg.payload = data;\nmsg.headers = { \"Content-Type\": \"application/json\" };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 760,
        "wires": [
            [
                "6f6712a836c4fee5"
            ]
        ]
    },
    {
        "id": "6f6712a836c4fee5",
        "type": "http response",
        "z": "728b4f57863eb686",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1210,
        "y": 760,
        "wires": []
    },
    {
        "id": "254b63a089331d41",
        "type": "change",
        "z": "728b4f57863eb686",
        "name": "ChangeForUnityBlue",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"station\": {\t        \"id\": \"SIF-402\",\t        \"status\": \"Running\",\t        \"recipe\": \"StandardMix_v2.3\",\t        \"timestamp\": $now()\t    },\t    \"hoppers\": [\t        {\t            \"id\": \"hopper_blue\",\t            \"color\": \"blue\",\t            \"level\": $floor(payload.read.value.value % 100),\t            \"hasPellets\": ($floor(payload.read.value.value % 100) > 10),\t            \"status\": ($floor(payload.read.value.value % 100) > 50) ? \"OK\" : \"Low\"\t        }\t    ],\t    \"alarms\": ($floor(payload.read.value.value % 100) < 20) ?\t        [\t            {\t                \"id\": \"alarm_low_runtime\",\t                \"severity\": \"warning\",\t                \"message\": \"Runtime-derived low level\",\t                \"timestamp\": $now()\t            }\t        ]\t    : []\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 460,
        "wires": [
            [
                "45bf0bc82a2572fb"
            ]
        ]
    },
    {
        "id": "45bf0bc82a2572fb",
        "type": "file",
        "z": "728b4f57863eb686",
        "name": "output to file",
        "filename": "D:\\Code\\XR\\XR_Project_2\\node-red\\tests\\Nov22_PLCtoUnity.log",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1330,
        "y": 460,
        "wires": [
            [
                "80a9cfee84eb52e7"
            ]
        ]
    },
    {
        "id": "80a9cfee84eb52e7",
        "type": "function",
        "z": "728b4f57863eb686",
        "name": "Store blue latest value",
        "func": "flow.set(\"blue_lastSignal\", msg.payload);\nreturn msg;  // optional, keeps flow going if needed\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 460,
        "wires": [
            [
                "7ab9bd1a18d80faa"
            ]
        ]
    },
    {
        "id": "db6c6dcbbf6b79f1",
        "type": "change",
        "z": "728b4f57863eb686",
        "name": "PayloadAlarm",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t  \"meta\": topic,\t  \"read\": payload\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 520,
        "wires": [
            [
                "044e7cd03ef99467"
            ]
        ]
    },
    {
        "id": "044e7cd03ef99467",
        "type": "change",
        "z": "728b4f57863eb686",
        "name": "ChangeForUnityYellow",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"station\": {\t        \"id\": \"SIF-402\",\t        \"status\": payload.read.value.value ? \"Alarm\" : \"Running\",\t        \"recipe\": \"StandardMix_v2.3\",\t        \"timestamp\": $now()\t    },\t    \"hoppers\": [\t        {\t            \"id\": \"hopper_yellow\",\t            \"color\": \"yellow\",\t            \"level\": payload.read.value.value ? 10 : 90,\t            \"hasPellets\": true,\t            \"status\": payload.read.value.value ? \"Low\" : \"OK\"\t        }\t    ],\t    \"alarms\": payload.read.value.value ?\t        [\t            {\t                \"id\": \"alarm_station\",\t                \"severity\": \"critical\",\t                \"message\": \"Station in alarm\",\t                \"timestamp\": $now()\t            }\t        ]\t    : []\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 520,
        "wires": [
            [
                "5f02f14d16e46e06"
            ]
        ]
    },
    {
        "id": "5f02f14d16e46e06",
        "type": "file",
        "z": "728b4f57863eb686",
        "name": "output to file",
        "filename": "D:\\Code\\XR\\XR_Project_2\\node-red\\tests\\Nov22_PLCtoUnity.log",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1330,
        "y": 520,
        "wires": [
            [
                "7c105b167f248400"
            ]
        ]
    },
    {
        "id": "7c105b167f248400",
        "type": "function",
        "z": "728b4f57863eb686",
        "name": "Store Yellow latest value",
        "func": "flow.set(\"yellow_lastSignal\", msg.payload);\nreturn msg;  // optional, keeps flow going if needed\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 520,
        "wires": [
            [
                "70bc7fac12c5a488"
            ]
        ]
    },
    {
        "id": "96dadabcae942424",
        "type": "change",
        "z": "728b4f57863eb686",
        "name": "PayloadCurrent",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t  \"meta\": topic,\t  \"read\": payload\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 580,
        "wires": [
            [
                "c21f4c057e6269b5"
            ]
        ]
    },
    {
        "id": "c21f4c057e6269b5",
        "type": "change",
        "z": "728b4f57863eb686",
        "name": "ChangeForUnityRed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"station\": {\t        \"id\": \"SIF-402\",\t        \"status\": \"Running\",\t        \"recipe\": \"StandardMix_v2.3\",\t        \"timestamp\": $now()\t    },\t    \"hoppers\": [\t        {\t            \"id\": \"hopper_red\",\t            \"color\": \"red\",\t            \"level\": payload.read.value.value * 10, \t            \"hasPellets\": payload.read.value.value > 0.1,\t            \"status\": payload.read.value.value > 1 ? \"OK\" : \"Low\"\t        }\t    ],\t    \"alarms\": (payload.read.value.value > 1) ? [] : \t        [\t            {\t                \"id\": \"alarm_low_current\",\t                \"severity\": \"warning\",\t                \"message\": \"Low motor current\",\t                \"timestamp\": $now()\t            }\t        ]\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 580,
        "wires": [
            [
                "078f2d3f6d65f5e5"
            ]
        ]
    },
    {
        "id": "078f2d3f6d65f5e5",
        "type": "file",
        "z": "728b4f57863eb686",
        "name": "output to file",
        "filename": "D:\\Code\\XR\\XR_Project_2\\node-red\\tests\\Nov22_PLCtoUnity.log",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1330,
        "y": 580,
        "wires": [
            [
                "6b7ee8173d05d1a1"
            ]
        ]
    },
    {
        "id": "6b7ee8173d05d1a1",
        "type": "function",
        "z": "728b4f57863eb686",
        "name": "Store Red latest value",
        "func": "flow.set(\"red_lastSignal\", msg.payload);\nreturn msg;  // optional, keeps flow going if needed\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 580,
        "wires": [
            [
                "0f3018a9e6c129bc"
            ]
        ]
    },
    {
        "id": "c2c087b6c44c2f4b",
        "type": "http in",
        "z": "728b4f57863eb686",
        "name": "GET yellow latest value",
        "url": "/mes/yellow_latest",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 800,
        "y": 840,
        "wires": [
            [
                "44fbdf255c4c6433"
            ]
        ]
    },
    {
        "id": "44fbdf255c4c6433",
        "type": "function",
        "z": "728b4f57863eb686",
        "name": "Return latest value",
        "func": "const data = flow.get(\"yellow_lastSignal\");\n\nif (!data) {\n    msg.payload = { error: \"No data available yet\" };\n    msg.statusCode = 503;\n    return msg;\n}\n\nmsg.payload = data;\nmsg.headers = { \"Content-Type\": \"application/json\" };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 840,
        "wires": [
            [
                "ce7e85b758000ccb"
            ]
        ]
    },
    {
        "id": "ce7e85b758000ccb",
        "type": "http response",
        "z": "728b4f57863eb686",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1210,
        "y": 840,
        "wires": []
    },
    {
        "id": "423bf5b08debaebb",
        "type": "http in",
        "z": "728b4f57863eb686",
        "name": "GET red latest value",
        "url": "/mes/red_latest",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 790,
        "y": 920,
        "wires": [
            [
                "0ef7aebe20bafa3d"
            ]
        ]
    },
    {
        "id": "0ef7aebe20bafa3d",
        "type": "function",
        "z": "728b4f57863eb686",
        "name": "Return latest value",
        "func": "const data = flow.get(\"red_lastSignal\");\n\nif (!data) {\n    msg.payload = { error: \"No data available yet\" };\n    msg.statusCode = 503;\n    return msg;\n}\n\nmsg.payload = data;\nmsg.headers = { \"Content-Type\": \"application/json\" };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 920,
        "wires": [
            [
                "cd9c67071d123f12"
            ]
        ]
    },
    {
        "id": "cd9c67071d123f12",
        "type": "http response",
        "z": "728b4f57863eb686",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1210,
        "y": 920,
        "wires": []
    },
    {
        "id": "a58152cdbf760178",
        "type": "debug",
        "z": "728b4f57863eb686",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 340,
        "wires": []
    },
    {
        "id": "8802a7a35b81fba8",
        "type": "OpcUa-Item",
        "z": "cdaeea4ad0360d20",
        "item": "ns=3;i=1002",
        "datatype": "Double",
        "value": "",
        "name": "Random",
        "x": 340,
        "y": 100,
        "wires": [
            [
                "ebe1e3f413c16e6a"
            ]
        ]
    },
    {
        "id": "27f9121cce383c7f",
        "type": "inject",
        "z": "cdaeea4ad0360d20",
        "name": "Read",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "8802a7a35b81fba8"
            ]
        ]
    },
    {
        "id": "6c8310dcbae93252",
        "type": "inject",
        "z": "cdaeea4ad0360d20",
        "name": "Disconnect",
        "props": [
            {
                "p": "action",
                "v": "disconnect",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 320,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "7d7b79f227350e11",
        "type": "inject",
        "z": "cdaeea4ad0360d20",
        "name": "Connect",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 480,
        "wires": [
            [
                "1589d9441b128a45"
            ]
        ]
    },
    {
        "id": "e6ec4aa77e10cca5",
        "type": "inject",
        "z": "cdaeea4ad0360d20",
        "name": "Reconnect",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 560,
        "wires": [
            [
                "3f8255f9326cd18d"
            ]
        ]
    },
    {
        "id": "1589d9441b128a45",
        "type": "function",
        "z": "cdaeea4ad0360d20",
        "name": "set options",
        "func": "msg.action = 'connect';\nmsg.OpcUaEndpoint = {}; // Initialize msg.OpcUaEndpoint as an empty object\nmsg.OpcUaEndpoint.endpoint = 'opc.tcp://OurLaptop:53530/OPCUA/SimulationServer';\nmsg.OpcUaEndpoint.securityMode = 'None';\nmsg.OpcUaEndpoint.securityPolicy = 'None';\nmsg.OpcUaEndpoint.login = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 480,
        "wires": [
            [
                "ebe1e3f413c16e6a"
            ]
        ]
    },
    {
        "id": "3f8255f9326cd18d",
        "type": "function",
        "z": "cdaeea4ad0360d20",
        "name": "set options",
        "func": "msg.action = 'connect';\nmsg.OpcUaEndpoint = {}; // Initialize msg.OpcUaEndpoint as an empty object\nmsg.OpcUaEndpoint.endpoint = 'opc.tcp://130.130.130.2:4840';\nmsg.OpcUaEndpoint.securityMode = 'None';\nmsg.OpcUaEndpoint.securityPolicy = 'None';\nmsg.OpcUaEndpoint.login = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "1deeba5f30355464",
        "type": "debug",
        "z": "cdaeea4ad0360d20",
        "name": "msg_Client",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "ebe1e3f413c16e6a",
        "type": "OpcUa-Client",
        "z": "cdaeea4ad0360d20",
        "endpoint": "bc6471816c7844a9",
        "action": "readmultiple",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "setstatusandtime": false,
        "keepsessionalive": false,
        "name": "",
        "applicationName": "",
        "applicationUri": "",
        "x": 580,
        "y": 200,
        "wires": [
            [
                "1deeba5f30355464"
            ],
            [],
            [
                "84d21b0802868ee3"
            ]
        ]
    },
    {
        "id": "84d21b0802868ee3",
        "type": "function",
        "z": "cdaeea4ad0360d20",
        "name": "function 2",
        "func": "let msgs = []\nfor (let index = 0; index < msg.payload.length; index++) {\n    const signal_payload = msg.payload[index];\n    const signal_topic = msg.topic[index];\n    msgs.push(\n        {\n            payload : signal_payload,\n            topic : signal_topic\n        }\n    )\n}\nreturn msgs",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 340,
        "wires": [
            [
                "a03fdf30ac5f34f1",
                "3430a00c20602b08"
            ],
            [
                "dbfceaa1e88d13e4"
            ],
            [
                "dff707186a899df5"
            ]
        ]
    },
    {
        "id": "7331d5d422932272",
        "type": "OpcUa-Item",
        "z": "cdaeea4ad0360d20",
        "item": "ns=3;i=1006",
        "datatype": "Double",
        "value": "",
        "name": "Triangle",
        "x": 340,
        "y": 160,
        "wires": [
            [
                "ebe1e3f413c16e6a"
            ]
        ]
    },
    {
        "id": "5b97451d566e40cd",
        "type": "inject",
        "z": "cdaeea4ad0360d20",
        "name": "Read",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "7331d5d422932272"
            ]
        ]
    },
    {
        "id": "b44c80779277a399",
        "type": "OpcUa-Item",
        "z": "cdaeea4ad0360d20",
        "item": "ns=3;i=1004",
        "datatype": "Double",
        "value": "",
        "name": "Sinusoid",
        "x": 340,
        "y": 220,
        "wires": [
            [
                "ebe1e3f413c16e6a"
            ]
        ]
    },
    {
        "id": "483ac4ad1a525334",
        "type": "inject",
        "z": "cdaeea4ad0360d20",
        "name": "Read",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "b44c80779277a399"
            ]
        ]
    },
    {
        "id": "c112e55b07aadc7f",
        "type": "inject",
        "z": "cdaeea4ad0360d20",
        "name": "Read multiple items",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "readmultiple",
        "payload": "",
        "payloadType": "str",
        "x": 320,
        "y": 300,
        "wires": [
            [
                "ebe1e3f413c16e6a"
            ]
        ]
    },
    {
        "id": "a03fdf30ac5f34f1",
        "type": "debug",
        "z": "cdaeea4ad0360d20",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "msg.topic & msg.payload",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 240,
        "wires": []
    },
    {
        "id": "4a85097fffaa539b",
        "type": "debug",
        "z": "cdaeea4ad0360d20",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 400,
        "wires": []
    },
    {
        "id": "8aacabe15f5f1547",
        "type": "debug",
        "z": "cdaeea4ad0360d20",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 460,
        "wires": []
    },
    {
        "id": "0a3c643f2776f613",
        "type": "file",
        "z": "cdaeea4ad0360d20",
        "name": "output to file",
        "filename": "D:\\Code\\XR\\XR_Project_2\\node-red\\tests\\Nov21.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1230,
        "y": 260,
        "wires": [
            [
                "115e00ed4ffe25cf"
            ]
        ]
    },
    {
        "id": "3430a00c20602b08",
        "type": "change",
        "z": "cdaeea4ad0360d20",
        "name": "PayloadRandom",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t  \"meta\": topic,\t  \"read\": payload\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 340,
        "wires": [
            [
                "7cebeae8ef3b39d9"
            ]
        ]
    },
    {
        "id": "dbaacd3cc86aeb9d",
        "type": "debug",
        "z": "cdaeea4ad0360d20",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 340,
        "wires": []
    },
    {
        "id": "115e00ed4ffe25cf",
        "type": "function",
        "z": "cdaeea4ad0360d20",
        "name": "Store latest value",
        "func": "flow.set(\"lastSignal\", msg.payload);\nreturn msg;  // optional, keeps flow going if needed\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "4b4aac26dc87dd93",
        "type": "http in",
        "z": "cdaeea4ad0360d20",
        "name": "GET blue latest value",
        "url": "/mes/blue_latest",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 800,
        "y": 620,
        "wires": [
            [
                "bb80c320867033b1"
            ]
        ]
    },
    {
        "id": "bb80c320867033b1",
        "type": "function",
        "z": "cdaeea4ad0360d20",
        "name": "Return latest value",
        "func": "const data = flow.get(\"blue_lastSignal\");\n\nif (!data) {\n    msg.payload = { error: \"No data available yet\" };\n    msg.statusCode = 503;\n    return msg;\n}\n\nmsg.payload = data;\nmsg.headers = { \"Content-Type\": \"application/json\" };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 620,
        "wires": [
            [
                "52c0ecb57f7686e6"
            ]
        ]
    },
    {
        "id": "52c0ecb57f7686e6",
        "type": "http response",
        "z": "cdaeea4ad0360d20",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1210,
        "y": 620,
        "wires": []
    },
    {
        "id": "7cebeae8ef3b39d9",
        "type": "change",
        "z": "cdaeea4ad0360d20",
        "name": "ChangeForUnity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"station\": {\t        \"id\": \"SIF-402\",\t        \"status\": \"Running\",\t        \"recipe\": \"StandardMix_v2.3\",\t        \"timestamp\": $now()\t    },\t    \"hoppers\": [\t        {\t            \"id\": \"hopper_blue\",\t            \"color\": \"blue\",\t            \"level\": payload.read.value.value,   /* your real live value */\t            \"hasPellets\": payload.read.value.value > 20,\t            \"status\": payload.read.value.value > 50 ? \"OK\" : \"Low\"\t        }\t    ],\t    \"alarms\": payload.read.value.value < 20 ?\t        [\t            {\t                \"id\": \"alarm_low\",\t                \"severity\": \"warning\",\t                \"message\": \"Hopper level low\",\t                \"timestamp\": $now()\t            }\t        ]\t    : []\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 340,
        "wires": [
            [
                "37d007c36878a1c1"
            ]
        ]
    },
    {
        "id": "37d007c36878a1c1",
        "type": "file",
        "z": "cdaeea4ad0360d20",
        "name": "output to file",
        "filename": "D:\\Code\\XR\\XR_Project_2\\node-red\\tests\\Nov21_toUnity.log",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1230,
        "y": 340,
        "wires": [
            [
                "ff82f14289f04f59"
            ]
        ]
    },
    {
        "id": "ff82f14289f04f59",
        "type": "function",
        "z": "cdaeea4ad0360d20",
        "name": "Store blue latest value",
        "func": "flow.set(\"blue_lastSignal\", msg.payload);\nreturn msg;  // optional, keeps flow going if needed\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 340,
        "wires": [
            [
                "dbaacd3cc86aeb9d"
            ]
        ]
    },
    {
        "id": "dbfceaa1e88d13e4",
        "type": "change",
        "z": "cdaeea4ad0360d20",
        "name": "PayloadTriangle",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t  \"meta\": topic,\t  \"read\": payload\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 400,
        "wires": [
            [
                "e6aab4512d3c9447"
            ]
        ]
    },
    {
        "id": "e6aab4512d3c9447",
        "type": "change",
        "z": "cdaeea4ad0360d20",
        "name": "ChangeForUnity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"station\": {\t        \"id\": \"SIF-402\",\t        \"status\": \"Running\",\t        \"recipe\": \"StandardMix_v2.3\",\t        \"timestamp\": $now()\t    },\t    \"hoppers\": [\t        {\t            \"id\": \"hopper_yellow\",\t            \"color\": \"yellow\",\t            \"level\": payload.read.value.value,   /* your real live value */\t            \"hasPellets\": payload.read.value.value > 20,\t            \"status\": payload.read.value.value > 50 ? \"OK\" : \"Low\"\t        }\t    ],\t    \"alarms\": payload.read.value.value < 20 ?\t        [\t            {\t                \"id\": \"alarm_low\",\t                \"severity\": \"warning\",\t                \"message\": \"Hopper level low\",\t                \"timestamp\": $now()\t            }\t        ]\t    : []\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 400,
        "wires": [
            [
                "87fdd9d31f1bc9c4"
            ]
        ]
    },
    {
        "id": "87fdd9d31f1bc9c4",
        "type": "file",
        "z": "cdaeea4ad0360d20",
        "name": "output to file",
        "filename": "D:\\Code\\XR\\XR_Project_2\\node-red\\tests\\Nov21_toUnity.log",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1230,
        "y": 400,
        "wires": [
            [
                "adec9c1cc1502052"
            ]
        ]
    },
    {
        "id": "adec9c1cc1502052",
        "type": "function",
        "z": "cdaeea4ad0360d20",
        "name": "Store Yellow latest value",
        "func": "flow.set(\"yellow_lastSignal\", msg.payload);\nreturn msg;  // optional, keeps flow going if needed\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 400,
        "wires": [
            [
                "4a85097fffaa539b"
            ]
        ]
    },
    {
        "id": "dff707186a899df5",
        "type": "change",
        "z": "cdaeea4ad0360d20",
        "name": "PayloadTriangle",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t  \"meta\": topic,\t  \"read\": payload\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 460,
        "wires": [
            [
                "769a4389eff23ae0"
            ]
        ]
    },
    {
        "id": "769a4389eff23ae0",
        "type": "change",
        "z": "cdaeea4ad0360d20",
        "name": "ChangeForUnity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"station\": {\t        \"id\": \"SIF-402\",\t        \"status\": \"Running\",\t        \"recipe\": \"StandardMix_v2.3\",\t        \"timestamp\": $now()\t    },\t    \"hoppers\": [\t        {\t            \"id\": \"hopper_red\",\t            \"color\": \"red\",\t            \"level\": payload.read.value.value,   /* your real live value */\t            \"hasPellets\": payload.read.value.value > 20,\t            \"status\": payload.read.value.value > 50 ? \"OK\" : \"Low\"\t        }\t    ],\t    \"alarms\": payload.read.value.value < 20 ?\t        [\t            {\t                \"id\": \"alarm_low\",\t                \"severity\": \"warning\",\t                \"message\": \"Hopper level low\",\t                \"timestamp\": $now()\t            }\t        ]\t    : []\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 460,
        "wires": [
            [
                "66bf73165678d6fa"
            ]
        ]
    },
    {
        "id": "66bf73165678d6fa",
        "type": "file",
        "z": "cdaeea4ad0360d20",
        "name": "output to file",
        "filename": "D:\\Code\\XR\\XR_Project_2\\node-red\\tests\\Nov21_toUnity.log",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1230,
        "y": 460,
        "wires": [
            [
                "98c138e4a9b5bee1"
            ]
        ]
    },
    {
        "id": "98c138e4a9b5bee1",
        "type": "function",
        "z": "cdaeea4ad0360d20",
        "name": "Store Red latest value",
        "func": "flow.set(\"red_lastSignal\", msg.payload);\nreturn msg;  // optional, keeps flow going if needed\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 460,
        "wires": [
            [
                "8aacabe15f5f1547"
            ]
        ]
    },
    {
        "id": "dc1b2615a111f9ed",
        "type": "http in",
        "z": "cdaeea4ad0360d20",
        "name": "GET yellow latest value",
        "url": "/mes/yellow_latest",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 800,
        "y": 700,
        "wires": [
            [
                "b7f216bbcfe3cbb0"
            ]
        ]
    },
    {
        "id": "b7f216bbcfe3cbb0",
        "type": "function",
        "z": "cdaeea4ad0360d20",
        "name": "Return latest value",
        "func": "const data = flow.get(\"yellow_lastSignal\");\n\nif (!data) {\n    msg.payload = { error: \"No data available yet\" };\n    msg.statusCode = 503;\n    return msg;\n}\n\nmsg.payload = data;\nmsg.headers = { \"Content-Type\": \"application/json\" };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 700,
        "wires": [
            [
                "37ad48827bc15374"
            ]
        ]
    },
    {
        "id": "37ad48827bc15374",
        "type": "http response",
        "z": "cdaeea4ad0360d20",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1210,
        "y": 700,
        "wires": []
    },
    {
        "id": "93a985db05c55c0e",
        "type": "http in",
        "z": "cdaeea4ad0360d20",
        "name": "GET red latest value",
        "url": "/mes/red_latest",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 790,
        "y": 780,
        "wires": [
            [
                "c602e518218ced37"
            ]
        ]
    },
    {
        "id": "c602e518218ced37",
        "type": "function",
        "z": "cdaeea4ad0360d20",
        "name": "Return latest value",
        "func": "const data = flow.get(\"red_lastSignal\");\n\nif (!data) {\n    msg.payload = { error: \"No data available yet\" };\n    msg.statusCode = 503;\n    return msg;\n}\n\nmsg.payload = data;\nmsg.headers = { \"Content-Type\": \"application/json\" };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 780,
        "wires": [
            [
                "153ee211087207b3"
            ]
        ]
    },
    {
        "id": "153ee211087207b3",
        "type": "http response",
        "z": "cdaeea4ad0360d20",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1210,
        "y": 780,
        "wires": []
    }
]